:root {
    --gray: #C6C6C6;
    --yellow-high: #ffdf99;
    --red-high: #FF9696;
    --blue-low: #1D07A4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

.header-logo {
    width: calc(50px + 10vw);
    max-width: 200px;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: white !important;
}

.btn {
    position: relative;
    z-index: 2;
}

.btn-dark {
    background: #1b1b1b;
}

.btn-dark:hover {
    background: #000000;
}

.section-title {
    font-weight: bold;
    font-size: calc(1.2rem + 1.2vw);
}

.__bar-is-vertical {
    background: rgba(88, 88, 88, 0.7) !important;
    z-index: 1031;
    position: relative;
}